@import '../../base/color';
@import '../../base/variable';

.tempTheme {
    background-color: $white;
    border-radius: 25px;
    width: 60%;
    display: flex;
    
    .tempTheme-items {
        flex-wrap: wrap; 
        justify-content: space-around   ;
        padding: 30px 30px;
        gap: 20px;
        display: flex;
        margin: 0 auto;
    }
}
