@import '../../../base/color';
@import '../../../base/gobal';
@import '../../../base/variable';

.iconTable-container {
    .iconTable-wapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .iconTable-input {
            display: flex;
            position: relative;
            align-items: center;
            width: 100%;
            justify-content: flex-start;
            svg {
                position: absolute;
                margin-left: 5px;
            }
            .iconTable-search {
                width: 100%;
                border: 1px solid rgba($color: $black, $alpha: 0.2);
                border-radius: 15px;
                height: 40px;
                padding-left: 30px;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 16px;
                font-weight: 500;
                &:hover{
                    border: 1px solid rgba($color: $black, $alpha: 0.5);

                }
                &:focus{
                    border: 1px solid rgba($color: $black, $alpha: 0.5);
                    
                }
            }
        }

        .iconTable-lists {
            width: 100%;
            height: 500px;
            max-height: 280px;
            overflow: scroll;
            
            &::-webkit-scrollbar {
                display: none;
            }
            .iconTable-items {
                // background-color: var();
                display: flex;
                gap: 10px;
                padding: 20px;
                margin: 5px 0px;
                align-items: center;
                border-radius: 20px;
                justify-content: space-between;
                cursor: pointer;
                transition: all 0.3s ease;
                &:hover {
                    background-color: rgba($color: $black, $alpha: 0.06);
                }
                .iconTable-name {
                    flex: 1;
                    font-size: 17px;
                    font-weight: 600;
                }
                .iconTable-added{
                    font-weight: 700;
                    color: var(--green-11);
                    font-size: 14px;
                }
            }
        }
    }
}
