@import '../../base/color';
@import '../../base/variable';

.CommunityItem{
    width: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;
    border: 15px solid rgba($color: $black, $alpha: 1);
    width: 330px;
    height: 660px;
    border-radius: 60px;
    position: relative;
    // z-index: 999;
    // overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    .template-bg{
        border-radius: 40px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .template-profile {
        position: absolute;
        top: 0;
        .template-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 330px;
            overflow: hidden;
        }
        .template-info-items {
            width: 100%;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }
     
    }
 
}
@media only screen and (max-width: 768px) {
    .CommunityItem{
        // width: 280px;
        // height: 600px;
        // .template-bg{
        //     border-radius: 40px;
        //     width: 100%;
        //     // height: 100vh;
        //     object-fit: cover;
        // }
    }
}