@import '../../base/color';
@import '../../base/variable';

.Links {
    background-color: $bg_template;
    height: 100%;
    padding-bottom: 50px;
    // height: 100vh;
    padding-top: 180px;
    .Links-contents {
        gap: 30px;
        align-items: center;
        flex-direction: column;
        display: flex;
        position: relative;
        .Links-left-btn {
            width: 720px;
            height: 50px;
            padding: 5px;
            border-radius: 25px;
            background-color: $btn_color;
            @include btn;
            font-weight: 700;
            font-size: 20px;
            color: $white;
            &:hover {
                // transform: scale(1.1);
                background-color: $btn_color_hover;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .Links{
        .Links-contents{
            .Links-left-btn{
                width: 340px;
            }
        }
    }
}
