@import '../../../base/color';
@import '../../../base/variable';

.card {
    background-color: skyblue;
    color: black;

    .card-container {
        width: 100%;
        display: flex;
        scroll-snap-align: center;
        height: $heightPage;
        .card-left {
            flex: 1;
        }
        .card-right {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            height: calc($heightPage + $navHight);
            width: 40%;
            .card-text {
                font-size: $fontSize_home;
                font-weight: $fontWeight_home;
                color: rgb(2, 40, 54);
                text-shadow: 4px 3px 0px #7a7a7a, -3px -2px 4px rgba(206, 89, 55, 0);
            }
            .card-desc {
                font-weight: 600;
                color: rgb(2, 40, 54);
                opacity: 0.7;
            }

            .card-btn {
                // margin-left: 160px;
                text-align: center;
                padding: 20px;
                border-radius: 25px;
                background-color: black;
                font-weight: 600;
                width: 20%;
                font-size: 14px;
                cursor: pointer;
                a {
                    text-decoration: none;
                    color: $white;
                }
                &:hover {
                    background-color: rgba($color: white, $alpha: 0.5);
                    a {
                        color: black;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .card {
        height: 100vh;
        .card-container {
            .card-left {
                display: none;
            }
            .card-right {
                align-items: center;
                .card-text {
                    padding-left: 0;
                    font-size: 43px;
                    padding-left: 160px;
                    text-align: center;
                    // padding-left: none;
                    padding: 10px;
                }
                .card-desc {
                    text-align: left;
                    font-size: 20px;
                    padding: 18px;
                }
                .card-btn {
                    padding: 18px;
                    width: 50%;
                }
            }
        }
    }
}
