@import  "../../base/color";
.BgGadient {
    text-align: center;
    cursor: pointer;
    .BgGadient-item {
        width: 162px;
        height: 262px;
        border-radius: 25px;
        background-image: linear-gradient(rgb(240, 38, 38), rgb(241, 241, 7));
        

        &:hover{
            border-radius: 25px;
            // border: 1px solid rgba($color: $black, $alpha: 0.5);
            transform: scale(0.98);
        }
    }
    .BgGadient-title{
        font-size: 15px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 768px) {
    .BgGadient{
        .BgGadient-item{
            width: 120px;
            height: 200px;
        }
    }
}