@import '../../base/color';

.LinksItem {
    width: 700px;
    background-color: $white;
    padding: 20px;
    border-radius: 25px;
    .LinksItem-drag-icon {
    }
    .LinksItem-wapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        .LinksItem-item {
            display: flex;
            position: relative;
            .LinksItem-side {
                display: flex;
                flex-direction: column;
                gap: 15px;
                width: 100%;
                .LinkItem-url {
                    width: 100%;
                    .input-title-label {
                        font-size: 20px;
                        font-weight: 600;
                        max-width: 250px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    #inputTitle {
                        //    display: none;
                        font-size: 20px;
                        font-weight: 600;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        // border: 1px solid rgba($color: $black, $alpha: 0.3);
                        width: 100%;
                        &:valid[focused='true'] {
                            overflow: unset;
                        }
                    }
                    .LinkItem-pen {
                        &:hover {
                            cursor: pointer;
                            border-radius: 5px;
                            background-color: var(--gray-4);
                        }
                    }
                }
                .LinkItem-url {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    width: 100%;

                    .LinkItem-link {
                        max-width: 500px;
                        font-size: 15px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-wrap: nowrap;
                    }
                    #inputUrl {
                        width: 100%;

                        font-size: 15px;
                        &:valid[focused='true'] {
                            text-wrap: wrap;
                            text-overflow: ellipsis;
                        }
                    }
                    .LinkItem-pen {
                        &:hover {
                            cursor: pointer;
                            border-radius: 5px;
                            background-color: var(--gray-4);
                        }
                    }
                }
            }
            .LinksItem-header {
                .LinkItem-url-header {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    .input-title-label-header {
                    }
                    #inputTitleHeader {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            .LinksItem-switch {
                position: absolute;
                right: 0;
                top: -30%;
                input[type='checkbox'] {
                    height: 0;
                    width: 0;
                    visibility: hidden;
                }
                label {
                    cursor: pointer;
                    text-indent: -9999px;
                    width: 55px;
                    height: 33px;
                    background: grey;
                    display: block;
                    border-radius: 100px;
                    position: relative;
                }

                label:after {
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    width: 23px;
                    height: 23px;
                    box-shadow: 0 2px 2px var(--black-a7);
                    background: #fff;
                    border-radius: 90px;
                    transition: 0.3s;
                }

                input[data-state='checked'] ~ label {
                    background: #bada55;
                }
                input:focus ~ label {
                    box-shadow: 0 0 0 2px black;
                }
                input[data-state='checked'] + label:after {
                    left: calc(100% - 5px);
                    transform: translateX(-100%);
                }

                label:active:after {
                    width: 30px;
                }
            }
        }
        .LinksItem-direct {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-align: center;
            gap: 30px;
            width: 100%;
            margin-top: 20px;
            .LinksItem-direct-item {
                svg {
                    padding: 3px;
                   
                }
                cursor: pointer;
                :hover {
                    border-radius: 5px;
                    background-color: var(--gray-4);
                }
            }
            .contact_focus{
                svg {
                    border: 1px solid blueviolet;
                    border-radius: 5px;
                }
            }
            .LinksItem-direct-delete {
                position: absolute;
                right: 0;
                cursor: pointer;
                :hover {
                    border-radius: 5px;
                    background-color: var(--gray-4);
                }
            }
        }

        .Alert-Delete[data-state='open'] {
            animation: fadeIn 300ms ease-in;
        }
        .Alert-Delete[data-state='closed'] {
            animation: fadeOut 300ms ease;
        }
    }
}

@keyframes fadeIn {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 100%;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@media only screen and (max-width: 768px) {
    .LinksItem {
        width: 300px;
    }
}
