@import '../../base/color';

.linktree {
    padding: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    .linktree-link {
        text-decoration: none;
        .linktree-item {
            position: relative;
            .linktree-title {
                justify-content: center;
                display: flex;
                font-size: 16px;
                font-weight: 500;
            }
        }
        .linktree-icon {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-20%);
        }
        .linktree-icon_menu {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    &:hover {
        transform: scale(0.98);
        border: 1px solid rgba($color: #000000, $alpha: 0.5);
    }
}
//mobile browser
@media only screen and (max-width: 768px) {
    .linktree {
        width: 80% !important;
        padding: 12px;
        .linktree-link {
            .linktree-item {
                .linktree-title {
                }
            }
            .linktree-icon {
            }
            .linktree-icon_menu {
            }
        }
    }
}
