@import '../../../base/color';
@import '../../../base/variable';

.share {
    background-color: #f5f5dc;
    color: black;
    .share-container {
        width: 100%;
        display: flex;
        scroll-snap-align: center;
        height: $heightPage;

        .share-left {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            height: calc($heightPage + $navHight);
            width: 40%;
            .share-text {
                padding-left: 160px;
                font-size: $fontSize_home;
                font-weight: $fontWeight_home;
                color: #4d4d23;
                text-shadow: 4px 3px 0px #7A7A7A, -3px -2px 4px rgba(206,89,55,0);
             
            }
            .share-desc {
                padding-left: 160px;
                font-weight: 500;
                color: #4d4d23;
                opacity: 0.7;
            }
            .share-btn {
                margin-left: 160px;
                text-align: center;
                padding: 20px;
                border-radius: 25px;
                background-color: black;
                font-weight: 600;
                width: 20%;
                font-size: 14px;
                cursor: pointer;
                a {
                    text-decoration: none;
                    color: $white;
                }
                &:hover {
                    background-color: rgba($color: white, $alpha: 0.5);
                    a {
                        color: black;
                    }
                }
            }
        }
        .share-right {
            flex: 1;
        }
    }
}

// For Mobile
 
@media only screen and (max-width: 768px) {
    .share {
        .share-container {
            .share-left {
                align-items: center;
                .share-text {
                    padding-left: 0;
                    font-size: 47px;
                    // padding-left: 160px;
                    text-align: center;
                    // padding-left: none;
                    padding: 10px;
                }
                .share-desc {
                    text-align: left;
                    font-size: 20px;
                    padding: 18px;
                }
                .share-btn {
                    margin-left: 0;
                    padding: 18px;
                    width: 50%;
                }
            }
            .share-right {
                display: none;
            }
        }
    }
}