$background_color:#004225;
$text_color:#F5F5DC;
$text_color_soft: #FFB000;
$text_color_soft_2 : #FFCF9D;
$text_color_soft_3 : #696d61;
$text_hover_color: #eff0ec;
$white : #ffffff;
$black: #333333;

$bg_template:#f3f3f1;