@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@radix-ui/colors/green-dark.css';
@import '@radix-ui/colors/red-dark.css';

$background_color:#21930d;
$btn_login_color: #dee51c;
$text_color:#F5F5DC;
$text_color_soft: #FFB000;
$text_color_soft_2 : #e0f143;
$text_color_soft_3 : #696d61;
$text_hover_color: #eff0ec;
$white : #ffffff;
$black: #000000;
$btn_color:#8E4EC6;
$btn_color_hover:#4e1a7a;

$bg_template:#f3f3f1;

$bg_icon_color:#e6e6e6;

$Intro_background_color: #ffffff;

$Intro_color: #000000;
