$background_color:#004225;
$text_color:#F5F5DC;
$text_color_soft: #FFB000;
$text_color_soft_2 : #FFCF9D;
$text_color_soft_3 : #696d61;
$text_hover_color: #eff0ec;
$white : #ffffff;
$black: #000000;

$bg_template:#f3f3f1;

$bg_icon_color:#e6e6e6;

$Intro_background_color: #ffffff;

$Intro_color: #000000;