@import "./color";
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    caret-color: transparent;
    // box-sizing: border-box  ;
}
html{
    height: 100vh;
    background-color: $bg_template;
}
ul,li{
    list-style-type: none;
}
button,select{
    border: none;
    outline: none;
    cursor: pointer;
}
input,textarea{
    border: none;
    outline: none;
    caret-color: black;

}
a{
    text-decoration: none;
}
