*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    caret-color: transparent;
}
ul,li{
    list-style-type: none;
}
button,select{
    border: none;
    outline: none;
    cursor: pointer;
}
input,textarea{
    border: none;
    outline: none;
    caret-color: black;

}
a{
    text-decoration: none;
}
