.profile{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-repeat: round;
    background-size: cover;
    background-clip: border-box;
    .profile-info{
        
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
    .profile-logo{
        text-align: center;
        margin-bottom: 10px;
        img{
            width: 150px;
            height: 150px;
            
        }
    }
}