@import "../../base/color";
@import "../../base/variable";

.ALert {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    .Alert-head{
        display: flex;
        background-color: $text_hover_color;
        width: 100%;
        justify-content: center;
        align-items: center;
        .Alert-title {
            padding: 8px;
            font-size: 15px;
        }
        .Alert-close-icon{
            position: absolute;
            right: 0;
            cursor: pointer;
            
           
        }
    }
    .btn-thumbail{
        @include btn;
        width: 100%;
        padding: 13px;
        background-color: #8E4EC6;
        color: $white;
        font-size: 18px;
        font-weight: 700;
        border: 2px solid transparent;

        &:hover{
            border: 2px solid rgba($color: $black, $alpha: 1.0);
            background-color: rgba($color:#64249c, $alpha: 1.0);

        }
        &:focus {
            border: 2px solid rgba($color: $black, $alpha: 1.0);

        }
    }
    .thumbnail-desc{
        font-weight: 500;
        font-size: 16px;
    }
    .Alert-desc {
        opacity: 0.8;
    }
    .Alert-btn-group {
        display: flex;
        justify-content: space-around;
        width: 100%;
        gap: 10px;
        .Alert-btn{
            border: 1px solid rgba($color: #000000, $alpha: 0.1);
            @include btn;
            width: 100%;
            padding: 15px 10px;
            font-size: 18px;
            
        } 
        .cancel{    
            background-color:$white;
            &:hover{
                background-color: rgba($color: $text_hover_color, $alpha: 0.7);
            }
        }
        .agree{
            background-color: $btn_color;
            color: $white;
        &:hover{
            background-color: rgba($color: $btn_color_hover, $alpha: 1);
        }
        }
    }
}



