.footer {
    .footer-container {
        padding: 20px;
        .footer-container_item {
            border-radius: 10px solid black;
            display: flex;
            justify-content: space-between;
            .footer-sub {
                h3 {
                    padding-left: 25px;
                    padding-bottom: 25px;
                }
                li {
                    padding-left: 20px;
                    padding-bottom: 20px;
                }
                ul {
                    padding-bottom: 20px;
                }
            }
            .footer-icon{
                display: flex;
                gap: 20px;
                .footer-icon_items{
                    width: 50px;
                    height: 50px;
                    cursor: pointer;
                }
            }
            
        }
    }
}