@import '../../base/color';
@import '../../base/variable';

.PreView-wapper {
    // background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;
    border: 15px solid rgba($color: $black, $alpha: 1);
    width: 330px;
    height: 660px;
    border-radius: 60px;
    position: relative;
    z-index: 999;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    .template-bg {
        border-radius: 40px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .template-profile {
        position: absolute;
        // height: 100vh;
        .template-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 330px;
            overflow: hidden;
        }
        .template-info-items {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .PreView-wapper {
        // width: none;
        width: 100%;
        // height: calc(100vh + 500px);
        height: 100vh;
        border: none;
        border-radius: 0;
        .template-bg {
            width: 100%;
            height: 100%;
            border-radius: 0;
            background-color: $text_hover_color;
        }
        .template-profile {
            // padding-top: 10px;
        }
    }
}
