@import '../../../base/color';
@import '../../../base/variable';

.info {
    background-color: $background_color;
    color: $text_color_soft_2;
    .info-container {
        width: 100%;
        display: flex;
        scroll-snap-align: center;
        height: $heightPage;
        .info-left {
            flex: 1;
            height: calc($heightPage + $navHight);
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            .info-text {
                padding-left: 160px;
                font-size: $fontSize_home;
                font-weight: $fontWeight_home;
                text-shadow: 4px 3px 0px #7a7a7a, -3px -2px 4px rgba(206, 89, 55, 0);
            }
            .info-decs {
                padding-left: 160px;
                font-weight: 500;
                opacity: 0.7;
            }

            .info-section {
                display: flex;
                gap: 20px;
                padding-left: 160px;

                .info-input {
                    padding: 18px;
                    width: 40%;
                    border-radius: 25px;
                    border: 2px solid transparent;
                    &:focus {
                        border: 2px solid rgb(0, 0, 0);
                        outline: 2px solid rgba(255, 255, 255);
                    }
                }
                .info-btn {
                    background-color: black;
                    color: white;
                    @include btn;
                    padding: 17px;
                    border-radius: 15px;
                    font-size: 18px;
                    &:hover {
                        background-color: rgba($color: #000000, $alpha: 0.6);
                    }
                }
            }
        }
        .info-right {
            flex: 1;
        }
    }
}

// For Mobile

@media only screen and (max-width: 768px) {
    .info {
        height: 100vh;
        .info-container {
            .info-left {
                .info-text {
                    padding-left: 0;
                    font-size: 43px;
                    padding-left: 160px;
                    text-align: center;
                    // padding-left: none;
                    padding: 10px;
                }
                .info-decs {
                    text-align: left;
                    font-size: 20px;
                    padding: 18px;
                }
                .info-section {
                    // padding-left: 0px;
                    padding: 18px;
                    align-items: center;
                    .info-input {
                        width: 65%;
                    }
                    .info-btn {
                        font-size: 15px;    
                        
                    }
                }
            }
            .info-right {
                display: none;
            }
        }
    }
}
