@import '../../base/variable';
@import '../../base/color';

.navAvatar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    .navAvt-img {
        @include img;
        width: 50px;
        height: 50px;
    }
    .navAvt-name {
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: center;
        justify-content: flex-start;
        .name {
            font-size: 20px;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 95%;
        }
        .tagname {
            opacity: 0.6;
            font-size: 11px;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 95%
        }
    }
}
