@import '../../../base/color';

.DialogTitle {
    margin: 0;
    font-weight: 700;
    color: $black;
    font-size: 17px;
    margin-bottom: 15px;
}
.Fieldset {
    display: flex;
    border-radius: 25px;
    transition: all 0.5s ease;
    .Label {
        border-radius: 25px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        display: flex;
        cursor: pointer;
        width: 100%;
        padding: 5px;
        &:hover {
            background-color: rgba($color: $bg_template, $alpha: 0.9);
        }
    }
    #upload-photo {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
}