@import '../../../base/color';
@import '../../../base/variable';

.questions {
    background-color: #ffb000;
    color: black;
    height: 100vh;
    .questions-container {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        scroll-snap-align: center;

        .questions-title {
            padding-top: 200px;
            font-size: $fontSize_home;
            font-weight: $fontWeight_home;
        }
    }
}
