@import '../../base/color';
@import '../../base/variable';

.navbar {
    position: fixed;
    top: 40px;
    width: 100%; 
    z-index: 999;
    .navbar-logo{
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 50%;
        padding: 10px;
        
    }
    .navbar-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
        width: 80%;
        background-color: rgb(255, 255, 255);
        height: $navHight;
        padding: 5px 20px;
        border-radius: 50px;
        position: relative;
        gap: 20px;
         // boxshadow
        box-shadow: 1px 4px 42px -3px rgba(0, 0, 0, 0.56);
        -webkit-box-shadow: 1px 4px 42px -3px rgba(0, 0, 0, 0.56);
        -moz-box-shadow: 1px 4px 42px -3px rgba(0, 0, 0, 0.56);
        .logo {
            flex: 3;
            font-size: 30px;
        }
        .nav-link {
            display: flex;
            gap: 40px;
            color: $text_color_soft_3;
           
            .nav-link_items {
                padding: 10px;
                font-size: 18px;
                cursor: pointer;
                border-radius: 5px;
                &:hover {
                    background-color: $text_hover_color;
                }
            }
        }
        .register {
            flex: 1;
            display: flex;
            justify-content: center;
            gap: 30px;
            .nav-btn {
                font-weight: 500;
                font-size: 18px;
                padding: 15px;
                border-radius: 25px;
                background-color: black;
                color: white;
            }
            .nav-login {
                border-radius: 10px;
                background-color: $text_hover_color;
                color: black;
                &:hover {
                    background-color: rgba($color: $text_hover_color, $alpha: 0.7);
                }
            }
            .nav-signup {
                &:hover {
                    background-color: rgba($color: black, $alpha: 0.7);
                }
            }
        }
        .nav-user {
            .avatar {
                padding-left: 20px;
                img {
                    padding: 2px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    cursor: pointer;
                    border: 1px solid transparent;
                    &:hover {
                        border: 1px solid black;
                    }
                }
                &:hover {
                    transform: scale(1.03);
                }
            }
        }
    }
    .nav-option {
        position: absolute;
        background-color: $white;
        width: 20%;
        z-index: 999;
        right: 0%;
        top: 90%;
        //box shadows
        border-radius: 25px;
        padding: 20px;
        -moz-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.22);
        -webkit-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.22);
        -ms-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.22);
        box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.22);
        .account-option {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h3 {
                font-size: 16px;
                color: $text_color_soft_3;
            }
            .account-option-item {
                padding: 8px;
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                border-radius: 10px;
                p {
                    font-size: 16px;
                    opacity: 0.8;
                }
                .account-icon {
                    text-align: center;
                    padding-left: 20px;
                }
                &:hover {
                    background-color: $text_hover_color;
                }
            }
        }
    }
}
