@import '../../base/color';
@import '../../base/variable';

.navbar {
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 999;
    .navbar-logo {
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 50%;
        padding: 10px;
    }
    .navbar-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
        width: 80%;
        background-color: rgb(255, 255, 255);
        height: $navHight;
        padding: 5px 20px;
        border-radius: 50px;
        position: relative;
        gap: 20px;
        // boxshadow
        box-shadow: 1px 4px 42px -3px rgba(0, 0, 0, 0.56);
        -webkit-box-shadow: 1px 4px 42px -3px rgba(0, 0, 0, 0.56);
        -moz-box-shadow: 1px 4px 42px -3px rgba(0, 0, 0, 0.56);
        .logo {
            flex: 3;
            font-size: 30px;
        }
        .nav-link {
            display: flex;
            gap: 40px;
            color: $text_color_soft_3;

            .nav-link_items {
                padding: 10px;
                font-size: 18px;
                cursor: pointer;
                border-radius: 5px;
                text-wrap: nowrap;
                &:hover {
                    background-color: $text_hover_color;
                }
            }
            .active {
                background-color: $text_hover_color;
                border-radius: 5px;
                
            }
           
        }
       
        .nav-link-mobile {
            display: none;
        }

        .register {
            display: flex;
            justify-content: center;
            gap: 20px;
            .nav-btn {
                font-weight: 500;
                font-size: 18px;
                padding: 15px;
                border-radius: 25px;
                background-color: black;
                color: white;
            }
            .nav-login {
                border-radius: 10px;
                background-color: $text_hover_color;
                color: black;
                &:hover {
                    background-color: rgba($color: $text_hover_color, $alpha: 0.7);
                }
            }
            .nav-signup {
                &:hover {
                    background-color: rgba($color: black, $alpha: 0.7);
                }
            }
        }
        .navMobile {
            display: none;
            cursor: pointer;
        }
        .nav-user {
            display: flex;
            align-items: center;
            .nav-user-option {
                transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
                .nav-user-btn {
                    padding: 10px;
                    // width: 100px;
                    text-wrap: nowrap;
                    @include btn;
                    border-radius: 5px;
                    color: rgba($color: $white, $alpha: 0.9);
                    background-color: var(--green-11);
                    font-weight: 500;
                    -moz-box-shadow: 1px 2px 21px 2px rgba(0, 0, 0, 0.58);
                    -webkit-box-shadow: 1px 2px 21px 2px rgba(0, 0, 0, 0.58);
                    -ms-box-shadow: 1px 2px 21px 2px rgba(0, 0, 0, 0.58);
                    box-shadow: 1px 2px 21px 2px rgba(0, 0, 0, 0.3);
                }
                &:hover {
                    transform: scale(0.97);
                }
            }
            .avatar {
                padding-left: 20px;
                // padding: 2px;
                img {
                    // padding: 2px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    cursor: pointer;
                    border: 1px solid transparent;
                    object-fit: cover;
                    &:hover {
                        border: 1px solid black;
                    }
                }
                &:hover {
                    transform: scale(1.03);
                }
            }
        }
      
    }
    .nav-option {
        position: absolute;
        background-color: $white;
        width: 20%;
        z-index: 999;
        right: 0%;
        top: 90%;
        //box shadows
        border-radius: 25px;
        padding: 20px;
        -moz-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.22);
        -webkit-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.22);
        -ms-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.22);
        box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.22);
        .account-option {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h3 {
                font-size: 16px;
                color: $text_color_soft_3;
            }
            .account-option-item {
                padding: 8px;
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                border-radius: 10px;
                p {
                    font-size: 16px;
                    opacity: 0.8;
                }
                .account-icon {
                    text-align: center;
                    padding-left: 20px;
                }

                &:hover {
                    background-color: $text_hover_color;
                }
            }
        }
    }
}

// For tablets
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .navbar {
        .navbar-container {
            .logo {
                .navbar-logo {
                }
            }
            .nav-link {
                display: none !important;
                .nav-link_items {
                }
            }
            .nav-link-mobile {
                position: absolute;
                display: flex;
                flex-direction: column;
                gap: 70px;
                align-items: center;
                padding: 75px;
                width: 800px;
                // width: 100%;z
                z-index: -1;
                height: 100vh;
                background-color: $black;
                color: $white;
                margin-top: 900px;
                justify-content: center;
                animation: slidein 200ms cubic-bezier(0.16, 1, 0.3, 1);

                .nav-link-mobile_items {
                    font-size: 40px;
                    color: $text_color_soft_3;
                    &:hover {
                        background-color: $text_hover_color;
                    }
                }
                @keyframes slidein {
                    from {
                        transform: translateX(100%);
                    }
                    to {
                        transform: translateX(0);
                    }
                }
            }
            .avtive {
                animation-name: slideout;

                @keyframes slideout {
                    from {
                        transform: translateX(0%);
                    }
                    to {
                        transform: translateX(100%);
                    }
                }
            }
            .register {
            }
            .navMobile {
                display: block !important;
            }
            .nav-user {
                .avatar {
                }
            }
            .nav-option {
                .account-option {
                    .account {
                    }
                    .support {
                    }
                }
            }
        }
    }
}

// For mobile
@media only screen and (max-width: 768px) {
    .navbar {
        .navbar-container {
            .logo {
                .navbar-logo {
                    // width: 8.0%;
                }
            }
            .nav-link {
                display: none !important;
                .nav-link_items {
                }
            }
            .nav-link-mobile {
                position: absolute;
                display: flex;
                flex-direction: column;
                gap: 40px;
                align-items: center;
                padding: 150px;
                // width: 100%;z
                z-index: -1;
                height: 100vh;
                background-color: $black;
                color: $white;
                margin-top: 500px;
                justify-content: center;
                animation-name: slidein;
                animation-duration: 1.5s;
                animation-delay: -1s;
                .nav-link-mobile_items {
                    // margin-top: 100px;
                    font-size: 30px;
                    // color: $text_color_soft_3;
                    color: $white;
                    animation-name: slidein;
                    animation-delay: -2s;
                    animation-duration: 2s;
                    &:hover {
                        background-color: $text_hover_color;
                    }
                }
                .home1{
                   animation: slidein_item 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
                }
                .template1{
                   animation: slidein_item 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
                    
                }
                .link1{
                   animation: slidein_item 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

                }
                .commuity{
                    animation: slidein_item 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
                    
                }
                .qr1{
                   animation: slidein_item 900ms cubic-bezier(0.075, 0.82, 0.165, 1);

                }
                .about1{
                   animation: slidein_item 1100ms cubic-bezier(0.075, 0.82, 0.165, 1);

                }
            }

            .register {
                gap: 20px;
                .nav-btn {
                    font-size: 14px;
                }
            }
            .navMobile {
                display: block !important;
            }
            .nav-user {
                .avatar {
                }
            }
        }
        .nav-option {
            width: 88%;
        }
    }
}
@keyframes slidein {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slidein_item{
    from {
        transform: translateX(120px);
    }
    to {
        transform: translateX(0px);
    }
}   