@import '../../base//color';

.theme {
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;

    .theme-img {
        object-fit: cover;
        height: 260px;
        width: 160px;
        border-radius: 25px;
        -moz-box-shadow: 3px 5px 7px 1px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 3px 5px 7px 1px rgba(0, 0, 0, 0.4);
        -ms-box-shadow: 3px 5px 7px 1px rgba(0, 0, 0, 0.4);
        box-shadow: 3px 5px 7px 1px rgba(0, 0, 0, 0.4);
    }
    .bg-color {
        width: 160px;
        height: 260px;
        border-radius: 25px;
        // background-color: aqua;?
    }
    .theme-btns {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;

        .them-btn {
            width: 70%;
            height: 20px;
            -moz-box-shadow: 0px 10px 19px 2px rgba(0, 0, 0, 0.15);
            -webkit-box-shadow: 0px 10px 19px 2px rgba(0, 0, 0, 0.15);
            -ms-box-shadow: 0px 10px 19px 2px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 10px 19px 2px rgba(0, 0, 0, 0.15);
        }
    }
    &:hover {
        // opacity: 0.7;
        // transform: scale(1.1);
    }
}
.theme-cutoms_btn {
    display: flex;
    color: $black;
    flex-direction: column;
    width: 160px;
    height: 260px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: $bg_template;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
    border: 1px dashed rgba($color: $black, $alpha: 0.5);
    &:hover {
        // opacity: 0.7;
    }
}
@media only screen and (max-width: 768px) {
    .theme {
        .theme-img {
            height: 200px;
            width: 120px;
        }
        .bg-color {
            height: 200px;
            width: 120px;
        }
    }
    .theme-cutoms_btn {
        height: 200px;
            width: 120px;
    }
    .theme-cutoms_btn{
        font-size: 12px;
    }
}
