@import '../../base/color';

.buttonLink {
    background-color: $white;
    border-radius: 25px;
    width: 70%;
    padding: 20px 0;
    .buttonLink-items {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .buttonLink-fill {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px 20px;
            justify-content: flex-start;
            .buttonLink-title {
                font-size: 20px;
                font-weight: 400;
            }
            .buttonLink-fill-items {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 20px;

                .square {
                    border-radius: 0px;
                }
                .half-square {
                    border-radius: 15px;
                }
                .round {
                    border-radius: 50px;
                }
                .buttonLink-item {
                    // border:  1px solid black;
                    background-color: $black;
                    width: auto;
                    height: 50px;

                    &:hover {
                        transform: scale(0.98);
                    }
                }
            }
        }
        .buttonLink-outline {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px 25px;
            justify-content: flex-start;
            .buttonLink-title {
                font-size: 20px;
                font-weight: 400;
            }
            .buttonLink-outline-items {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 20px;
                .square {
                    border-radius: 0px;
                }
                .half-square {
                    border-radius: 15px;
                }
                .round {
                    border-radius: 50px;
                }
                .buttonLink-item {
                    border: 1px solid $black;
                    background-color: transparent;
                    width: auto;
                    height: 50px;
                    &:hover {
                        transform: scale(0.98);
                    }
                }
            }
        }
        .buttonLink-shadow {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px 25px;
            justify-content: flex-start;
            .buttonLink-title {
                font-size: 20px;
                font-weight: 400;
            }
            .buttonLink-shadow-items {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 20px;

                .square {
                    border-radius: 0px;
                }
                .half-square {
                    border-radius: 15px;
                }
                .round {
                    border-radius: 50px;
                }
                .buttonLink-item {
                    // border: 1px solid $black;
                    background-color: transparent;
                    width: auto;
                    height: 50px;
                    box-shadow: 11px 14px 19px 0px rgba(0, 0, 0, 0.3);
                    &:hover {
                        transform: scale(0.98);
                    }
                }
            }
        }
        .buttonLink-hard-shadow {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px 25px;
            justify-content: flex-start;
            .buttonLink-title {
                font-size: 20px;
                font-weight: 400;
            }
            .buttonLink-hard-shadow-items {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 20px;

                .square {
                    border-radius: 0px;
                }
                .half-square {
                    border-radius: 15px;
                }
                .round {
                    border-radius: 50px;
                }
                .buttonLink-item {
                    border: 1px solid $black;
                    background-color: transparent;
                    width: auto;
                    height: 50px;
                    box-shadow: 5px 8px 0px 0px rgba(0, 0, 0, 1);
                    &:hover {
                        transform: scale(0.98);
                    }
                }
            }
        }
    }
    .buttonLinks-color {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px 25px;
        .buttonLink-group {
            display: flex;
            gap: 20px;
            .buttonLinks-colorBox {
                position: relative;
                width: 60px;
                height: 40px;
                cursor: pointer;
                border-radius: 5px;
                border: 1px solid rgba($color: $black, $alpha: 0.2);
            }
            .buttonLinks-input {
                width: 20%;
                border: 1px solid rgba($color: $black, $alpha: 0.2);
                border-radius: 5px;
                padding: 10px;
                font-size: 18px;
                &:hover {
                    // transform: scale(0.98);
                    border: 1px solid rgba($color: $black, $alpha: 1);
                }
                &:focus {
                    border: 1px solid rgba($color: red, $alpha: 1);
                    transform: scale(0.98);
                }
            }
           
        }
      

    }
    .buttonLinks-fontcolor {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px 25px;
        .buttonLink-group {
            display: flex;
            gap: 20px;
            .buttonLinks-colorBox {
                width: 60px;
                height: 40px;
                cursor: pointer;
                border-radius: 5px;
                border: 1px solid rgba($color: $black, $alpha: 0.2);
            }
            .buttonLinks-input {
                width: 20%;
                border: 1px solid rgba($color: $black, $alpha: 0.2);
                border-radius: 5px;
                padding: 10px;
                font-size: 18px;
                &:hover {
                    // transform: scale(0.98);
                    border: 1px solid rgba($color: $black, $alpha: 1);
                }
                &:focus {
                    border: 1px solid rgba($color: red, $alpha: 1);
                    transform: scale(0.98);
                }
            }
        }
    }
    .buttonLinks-shadowColor {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px 25px;
        .buttonLink-group {
            display: flex;
            gap: 20px;
            .buttonLinks-colorShadowBox {
                width: 60px;
                height: 40px;
                cursor: pointer;
                border-radius: 5px;
                border: 1px solid rgba($color: $black, $alpha: 0.2);
            }
            .buttonLinks-input {
                width: 20%;
                border: 1px solid rgba($color: $black, $alpha: 0.2);
                border-radius: 5px;
                padding: 10px;
                font-size: 18px;
                &:hover {
                    // transform: scale(0.98);
                    border: 1px solid rgba($color: $black, $alpha: 1);
                }
                &:focus {
                    border: 1px solid rgba($color: red, $alpha: 1);
                    transform: scale(0.98);
                }
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .buttonLink{
        width: 95%;
        .buttonLink-items{
            .buttonLink-fill{
                 .buttonLink-fill-items {
                 grid-template-columns: 1fr 1fr;

                 }
                 
            }
            .buttonLink-outline{
                .buttonLink-outline-items {
                    grid-template-columns: 1fr 1fr;
    
                }   
            }
            .buttonLink-shadow{
                .buttonLink-shadow-items {
                    grid-template-columns: 1fr 1fr;
    
                } 
            }
            .buttonLink-hard-shadow{
                .buttonLink-hard-shadow-items {
                    grid-template-columns: 1fr 1fr;
    
                } 
            }
        }
        
    }
}