@import "../../base/color";
.avatarProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;

    .avatarProfile-img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
    }
    .avatarProfile-name{
        font-size: 30px;
        color: $white;
    }
    .avatarProfile-desc{
        color: $white;
        font-size: 20px;

    }
}
