@import '../../base/color';
@import '../../base/variable';
.template {
    display: flex;
    background-color: $bg_template;
    height: 100%;
    padding-bottom: 50px;
    .template-left {
        padding-top: 110px + 40px;
        flex: 3;
        .template-item {
            display: flex;
            flex-direction: column;
            align-items: center;

            .tempProfile_title {
                padding-top: 10px;
                margin-bottom: 20px;
                font-size: 30px;
                font-weight: 800;
            }
        }
    }
    .template-right {
        // border-left: 0.5px solid rgba($color: $black, $alpha: 0.3);
        display: flex;
        position: sticky;
        top: 0;
        // right: 0;
        height: 10px;
        padding-top: 180px;
        width: 30%;
       
    }
}
