@import "../../base/color";
@import "../../base/variable";
.template{
    display: flex;
    padding-top: 110px + 40px;
    background-color: $bg_template;
    height: 100vh;
    .template-left{
        flex: 3;
        
    }
    .template-right{
        flex: 1.5;
        height: 100%;
        border-left: 0.5px solid rgba($color: $black, $alpha: 0.3);
    }

}