.socialIcon{
    .socialIcon-group{
        display: flex;
        gap: 20px;
        cursor: pointer;
        width: 330px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }
}