@import '../../base/color';
@import '../../base/variable';

.bgTheme {
    background-color: $white;
    border-radius: 25px;
    width: 70%;
    // display: flex;
    .bgTheme-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        padding: 20px;
        gap: 20px;
    }
    .pickColor {
        margin: 40px;
        .gadient-items {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .pickColor-title {
            font-size: 20px;
            font-weight: 600;
        }
        .pickColor-item {
            align-items: center;
            display: flex;
            margin-top: 10px;
            gap: 20px;
            .pickColor-box {
                width: 40px;
                height: 40px;
                cursor: pointer;
                border-radius: 5px;
            }
            .pickColor-input {
                // width: 50px;
                height: 40px;
                transition: all 0.3s ease;
                border: 0.5px solid rgba($color: $black, $alpha: 0.2);
                border-radius: 10px;
                padding-left: 10px;
                &:hover {
                    border: 0.5px solid rgba($color: $black, $alpha: 0.5);
                }
                &:focus {
                    transform: scale(1.1);
                    border: 0.5px solid rgba($color: $black, $alpha: 0.5);
                }
            }
        }
    }

    .colorBox {
        position: absolute;
        transform: translate(-7%, -5%);
    }
    .colorBoxTop {
        position: absolute;
        transform: translate(-7%, -42%);
    }
    .colorBoxBot {
        position: absolute;
        transform: translate(-7%, -5%);
    }
}
@media only screen and (max-width: 768px) {
    .bgTheme {
        width: 95%;

        .bgTheme-items {
            grid-template-columns: 1fr 1fr;
            gap: 25px;
            padding: 20px;
        }
    }
}
