@import "../../base/color";


.home {
    background-color: $background_color;
    color: $text_color_soft_2;
    height: 100vh;
    &::-webkit-scrollbar {
        display: none;
    }
    .home-container {
        padding-top: 80px;
    }
}
