@import '../../base/color';

.home {
    .home-container {
        scroll-snap-type: y mandatory;
        scroll-behavior:smooth;
        height: 100vh;
        overflow-y: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
