@import '../../base/color';

.BgVideo {
    text-align: center;
    position: relative;
    cursor: pointer;
    .BgVideo-item {
        width: 160px;
        height: 260px;
        border-radius: 25px;
        background-color: $text_hover_color;
        border: 1px dashed rgba($color: $black, $alpha: 0.4);
        // border: 1px solid rgba($color: $black, $alpha: 0.5);

        &:hover {
            border-radius: 25px;
            border: 1px dashed rgba($color: $black, $alpha: 0.5);
    
        }
    }
    .BgVideo-title {
        font-size: 15px;
        font-weight: 600;
    }
    .VideoUpSvg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
